<!DOCTYPE html>

<html lang="en">
<head>
	<!-- Metadata -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">

	<!-- Title -->
	<title>Airwinfi</title>

	<!-- Thumbnails -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">

	<!-- Libraries -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/0.5.0/modern-normalize.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/style.css">

</head>
<body class="page-item color-normal layout-flip">
	<div id="wrapper">

		<article id="details">
			<!-- <div class="actions">
				<div class="toggle" title="Toggle sidebar"></div>
				<div class="popout" title="Open in new tab"></div>
				<div class="reload" title="Reload demo"></div>
			</div> -->
			<div>
				<div class="inner">
					<header>
						<h1 style="color: #ff385c">airwinfi</h1>
						<p>Free or low-cost WiFi hotspots near you!</p>
					</header>
					<section class="downloads">
						<h2>Results</h2>
						<p class="message">Move the map to refresh the search results.</p>
						<ul id="results" class="versions"></ul>
					</section>
				</div>
			</div>
		</article>

		<div id="viewer" class="desktop"></div>

	</div>

	<div id="menu"></div>

	<!-- Libraries -->
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= googleMapsApiKey %>&libraries=places&callback=googleMapsResponseHandler"></script>

	<!-- Scripts -->
	<script src="js/main.js" type="module"></script>

	<!-- Inline Script -->
	<script></script>

</body>
</html>
